<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Накладные</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/invoice/invoice.js"></script>
    <script src="js/util.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body onload="Controller.init()">
<div>
    <header th:insert="fragments/navbar.html :: navbar"></header>
    <div id="content">
        <div th:insert="fragments/blocks.html :: util"></div>
        <div class="container-fluid mt-4">
            <div class="container bg-light rounded shadow">
                <div class="container p-3 text-center">
                    <div class="d-inline">
                        <table class="table d-inline table-borderless p-3">
                            <thead class="table-dark">
                            <tr>
                                <th class="text-center">Добавление новой накладной</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <select class="form-select" id="productIdSelection" onchange="onchange(); function onchange() {
                                    const productId = $('#productIdSelection').val();
                                    const remainderElement = $('#productRemainder');
                                    remainderElement.removeAttr('hidden');
                                    remainderElement.text(`Остаток: ${Controller.products[productId]['count']}`);
                                }">
                                            <option disabled selected value="none">Выберите товар</option>
                                        </select>
                                        <label id="productRemainder" hidden>test</label>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="width: 400px">
                                        <input class="form-control" placeholder="Количество" id="productCount">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input class="form-control" placeholder="Ответственное лицо" id="invoicePerson">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <select class="form-select" id="invoiceTypeSelect">
                                            <option disabled selected value="none">Тип накладной</option>
                                            <option value="billing">Выдача</option>
                                            <option value="refund">Возврат</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <select class="form-select" id="invoiceDirectionSelect">
                                            <option disabled selected value="note">Направление</option>
                                            <option value="realization">Реализация</option>
                                            <option value="selling">Продажа</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input type="datetime-local" class="form-control" id="invoiceDate">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control" onclick="Controller.createInvoice()">Сохранить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-inline">
                        <table class="table d-inline table-borderless p-3">
                            <thead class="table-dark">
                            <tr>
                                <th class="text-center">Удаление накладной</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input class="form-control text-center" placeholder="ID" id="deleteInvoiceId">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control btn-dark" onclick="Controller.deleteInvoice()">Удалить
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <th class="table-dark">Пробить накладные по дате</th>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <select class="w-100 form-control form-select" id="invoiceSortSelect">
                                            <option disabled selected value="none">Выберите способ сортировки</option>
                                            <option value="id">ID</option>
                                            <option value="invoice_type">Тип накладной</option>
                                            <option value="invoice_direction">Направление</option>
                                            <option value="count">Количество продукта</option>
                                            <option value="person">Ответственное лицо</option>
                                            <option value="date">Дата</option>
                                        </select>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-start">
                                    <input type="checkbox" id="inverseSort" class="form-check-input">
                                    <label for="inverseSort" class="form-label">Inverse</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control" onclick="Controller.getInvoices()">Сортировать</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container p-3 text-center w-100">
                    <table class="table d-inline table-borderless">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th>Ответственное лицо</th>
                            <th>Количество товара</th>
                            <th>Дата</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <label style="width: 300px">
                                    <input class="form-control" placeholder="Ответственное лицо"
                                           id="invoiceSearchPerson">
                                </label>
                            </td>
                            <td>
                                <label style="width: 300px">
                                    <input class="form-control" placeholder="Мин. количество"
                                           id="invoiceSearchMinCount">
                                </label>
                            </td>
                            <td>
                                <label style="width: 300px">
                                    <input class="form-control" type="datetime-local" placeholder="Мин. дата"
                                           id="invoiceSearchMinDate">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-start pt-0 ps-2">
                                <div>
                                    <input class="form-check-input" type="checkbox"
                                           id="personSearchNameIgnoreCase">
                                    <label for="personSearchNameIgnoreCase">Игнорировать регистр</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox"
                                           id="personNameSearchStartsWith">
                                    <label for="personNameSearchStartsWith">Начинается с...</label>
                                </div>
                            </td>
                            <td>
                                <label style="width: 300px">
                                    <input class="form-control" placeholder="Макс. количество"
                                           id="invoiceSearchMaxCount">
                                </label>
                            </td>
                            <td>
                                <label style="width: 300px">
                                    <input class="form-control" type="datetime-local" placeholder="Макс. дата"
                                           id="invoiceSearchMaxDate">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label class="w-100">
                                    <select class="form-select" id="invoiceProductSearchSelect">
                                        <option selected value="none">Продукт</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label class="w-100">
                                    <select class="form-select" id="invoiceTypeSearch">
                                        <option selected value="none">Тип накладной</option>
                                        <option value="billing">Выдача</option>
                                        <option value="refund">Возврат</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <label class="w-100">
                                    <select class="form-select" id="invoiceDirectionSearch">
                                        <option selected value="none">Направление</option>
                                        <option value="realization">Реализация</option>
                                        <option value="selling">Продажа</option>
                                    </select>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button class="form-control" onclick="Controller.getInvoices()">Поиск</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productLabelModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Информация о продукте</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>ID: <label style="cursor: text" id="modalProductId"></label></h5>
                            <h5>Наименование: <label style="cursor: text" id="modalProductName"></label></h5>
                            <h5>Количество: <label style="cursor: text" id="modalProductCount"></label></h5>
                            <h5>Стоимость: <label style="cursor: text" id="modalProductPrice"></label></h5>
                            <h5>Дата поставки: <label style="cursor: text" id="modalProductDate"></label></h5>
                            <h5>Склад: <label style="cursor: text" id="modalProductStock"></label></h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <h3 class="text-center pt-2">Накладные</h3>
                <div class="text-center">
                    <button class="text-center btn btn-dark" style="width: 10%" onclick="Controller.deleteSelectedInvoices()">Удалить выбранные</button>
                    <button class="text-center btn btn-dark" style="width: 10%" onclick="Controller.resetSearchFields();Controller.init()">Обновить</button>
                </div>
                <div class="container mt-2">
                    <table class="table table-hover table-bordered table-borderless">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th class="text-center">
                                <label><input class="form-check-input" type="checkbox" id="selectBoxAll" onclick="Controller.selectAll()"></label>
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Продукт</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Тип накладной</th>
                            <th scope="col">Направление</th>
                            <th scope="col">Ответственное лицо</th>
                            <th scope="col">Дата оформления накладной</th>
                        </tr>
                        </thead>
                        <tbody id="invoicesTableBody" class="text-center">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="/fragments/blocks.html :: footer"></footer>
</body>
</html>