<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Практика</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/stock/stock.js"></script>
    <script src="js/util.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body onload="Controller.init()">
<div>
    <header th:insert="fragments/navbar.html :: navbar"></header>
    <div id="content">
        <div th:insert="fragments/blocks.html :: util"></div>
        <div class="container-fluid mt-4">
            <div class="container bg-light rounded shadow">
                <div class="container p-3 text-center">
                    <div class="d-inline">
                        <table class="table d-inline table-borderless p-3">
                            <thead class="table-dark">
                            <tr>
                                <th class="text-center">Создание нового склада</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input class="form-control" placeholder="Наименование" id="stockName">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input class="form-control" placeholder="Адрес" id="stockAddress">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control" onclick="Controller.createStock()">Сохранить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-inline">
                        <table class="table d-inline table-borderless p-3">
                            <thead class="table-dark">
                            <tr>
                                <th class="text-center">Удаление склада</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="w-100">
                                        <input class="form-control text-center" placeholder="ID" id="deleteStockId">
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control btn-dark" onclick="Controller.deleteStock()">Удалить
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-inline">
                        <table class="table d-inline table-borderless p-3">
                            <thead class="table-dark">
                            <tr>
                                <th class="text-center">Сортировать таблицу</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label>
                                        <select class="w-100 form-control form-select" id="stockSortSelect">
                                            <option disabled selected value="none">Выберите способ сортировки</option>
                                            <option value="id">ID</option>
                                            <option value="name">Наименование</option>
                                            <option value="address">Адрес</option>
                                        </select>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox" id="inverseSort" class="form-check">
                                    </label>
                                </td>
                                <td>
                                    <label>Inverse</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="form-control" onclick="Controller.getStocks()">Сортировать</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <h3 class="text-center pt-2">Склады</h3>
                <div class="container mt-4">
                    <table class="table table-hover table-bordered table-borderless">
                        <thead class="table-dark">
                        <tr class="text-center">
                            <th scope="col">ID</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Адрес</th>
                        </tr>
                        </thead>
                        <tbody id="stockTableBody" class="text-center">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="/fragments/blocks.html :: footer"></footer>
</body>
</html>